@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Flexo-Demi';
    src: url('../fonts/Flexo-Demi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


/* Réinitialisation des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style pour le corps de la page */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #616161;
    color: #fafafa;
    min-height: 100vh;
}

/* Style pour l'en-tête */
header {
    display: flex;
    background: url(../img/mappokemon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 300px;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 150px;
}


/* Style pour la section principale */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.createPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.createPokemon h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #FFCB05;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-bottom: 1rem;
}

.createPokemon label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
}

.createPokemon input[type="text"] {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 300px;
}

.createPokemon input[type="button"] {
    font-family: 'Flexo-Demi';
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 5px solid #3860AA;
    border-radius: 5px;
    background-color: #FFCB05;
    color: #3860AA;
    cursor: pointer;
}

.createPokemon input[type="button"]:hover {
    background-color: #b49106;
}

/* Style pour la section d'affichage */
.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.display div {
    font-family: 'Flexo-Demi';
    margin: 20px 20px;
    width: 200px;
    border: 2px solid #fff;
    background-color: #28212154;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
}

.display img {
    width: 150px;
    height: 150px;
}

.display p {
    font-size: 1rem;
    color: #fafafa;
    text-align: center;
    margin-bottom: 0.5rem;
}

.display .idPokemon {
    color: #919191;
    font-size: 16px;
    margin-bottom: 0.5rem;
}